<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- JdbcType enumeration. Most common are: NULL, VARCHAR and OTHER -->
		<setting name="jdbcTypeForNull" value="NULL" />	
	</settings>
	
		<!-- 当自定义的配置文件和自动生成的文件在同一个文件夹时，这里可以不配置，自定义的mapper文件建议以Dao结尾-->
	 <mappers>
	 	<mapper resource="conf-mybatis/biz/AdminUserDao.xml"></mapper>
	 	<mapper resource="conf-mybatis/biz/AdminMenuDao.xml"></mapper>
		<mapper resource="conf-mybatis/biz/AdminRoleDao.xml"></mapper>
		<mapper resource="conf-mybatis/biz/CronTriggerInfoDao.xml"></mapper>
	 </mappers>
</configuration>